<div class="col-xxl-3 col-lg-4 col-sm-6" id="dep" style="display: none;">
    <div class="mb-3">
      <label class="form-label" for="a5">Departement<span class="text-danger">*</span></label>
      <!-- <input type="text" class="form-control" id="a5" placeholder="Entrer le post occuper" name="poste" required> -->
      <select class="form-select" id="poste" name="dep">
        <option value="aucun" >Aucun</option>
        <% if(barSimples){ barSimples.forEach(barSimple => {%>
          <option value="<%= barSimple.id_barSimple %>" ><%= barSimple.nom %></option>
        <% }) }%>
        <% if(barVips){ barVips.forEach(barVip => {%>
          <option value="<%= barVip.id_barVip %>" ><%= barVip.nom %></option>
        <% }) } %>
        <% if(crazycs){ crazycs.forEach(crazyc => {%>
          <option value="<%= crazyc.id_cclub %>" ><%= crazyc.nom %></option>
        <% }) } %>
      </select>
    </div>
  </div>

  <script>
    for(let i = 0; i < embid.length; i++){
                data[3].forEach((cg, idcg) => {
                  if(embid[i] === cg.id_probal  && cg.receveur === bs.nom){
                    recu += cg.quantiter
                  }
                });
                data[5].forEach((em, idem) => {
                  if(embid[i] === em.id_emballage && !embanom.includes(em.nom)){
                    embanom.push(em.nom)
                  }
                });

                boxc.insertAdjacentHTML('beforeend',`
                    <div class="col-sm-6 col-lg-3" style="padding: 10px; background-color: rgb(166 214 241); 
                      border-radius: 16px; border-style: solid; border-width: 1px; margin: 10px;" id="${bs.nom}">
                      <div style="display: flex; justify-content: space-between;">
                          <p><b style="padding-right: 10px;">Produit:</b></p>
                          <p>${embanom[i]}</p>
                      </div>

                      <div style="display: flex; justify-content: space-between;">
                          <p><b style="padding-right: 20px;">Quantiter recu: </b></p>
                          <p>${recu}</p>
                      </div>

                      
                      <div>
                          <button type="button" data-bs-toggle="modal"
                              data-bs-target="#${bs.nom}${i}ModalCenter" class="btn btn-outline-info btn-sm w-50">
                              <i class="">Mise a jour</i>
                          </button>
                          <!-- Modal -->
                          <div class="modal fade" id="${bs.nom}${i}ModalCenter" tabindex="-1"
                          aria-labelledby="${bs.nom}${i}ModalCenterTitle" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered">
                              <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title" id="${bs.nom}${i}ModalCenterTitle">
                                      Mise a jour
                                  </h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                                  <div class="modal-body">
                                      <form action="" method="post">
                                          <div class="row gx-3">
                                            <div class="col-sm-12">
                                              <div class="bg-light rounded-2 px-3 py-2 mb-3">
                                                <h6 class="m-0">Caisse: ${caisse.nom} produit: ${embanom[i]}</h6>
                                              </div>
                                            </div>
                                            <div class="col-xxl-3 col-lg-6 col-sm-6">
                                              <div class="mb-3">
                                                <label class="form-label" for="a1">Stock<span class="text-danger">*</span></label>
                                                <input type="number" min="0"  max="" step="0.1" class="form-control" id="a1" value="${recu}" placeholder="Stock actuelle" name="stock" required disabled>
                                              </div>
                                            </div>
                                            <div class="col-xxl-3 col-lg-6 col-sm-6">
                                              <div class="mb-3">
                                                <label class="form-label" for="a2">Quantiter vendu <span class="text-danger">*</span></label>
                                                <input type="number" min="0" step="0.1" class="form-control" id="a2" placeholder="Quantiter vendu" name="prix" required>
                                              </div>
                                            </div>
                                            <input type="hidden" class="form-control" id="a2" name="type" value="produit">
                                            <input type="hidden" class="form-control" id="a2" name="idpro" value="">
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                              Annuler
                                            </button>
                                            <button type="submit" class="btn btn-danger">Appliquer les modifications</button>
                                          </div>
                                        </form>
                                  </div>
                              </div>
                          </div>
                          </div>
                      </div>
                    </div>
                `)
                recu = 0
              }
  </script>

<% i = 1; s = 0%>
<% salariers.forEach(salarier => { %>
  <tr>
    <td><%= i%></td>
    <td>
      <%= salarier.Personnel.nom %> <%= salarier.Personnel.prenom %>
    </td>
    <td><%= salarier.Poste.nom_poste %></td>
    <td><%= salarier.salaire %></td>
    <td class="text-center"></td>
    <td></td>
    <td><%= salarier.Personnel.periode %></td>
    <td><%= salarier.Personnel.numero %></td>
  </tr>
<% i++; s+= salarier.salaire }) %>
<tr class="text-center">
  <td colspan="4">Total des salaire du personnel</td>
  <td><%= s %></td>
</tr>