<!DOCTYPE html>
<html lang="en">

  
<!-- Mirrored from buybootstrap.com/demos/medflex/medflex-admin-dashboard/forgot-password.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 15 May 2025 12:17:08 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mot de pass Oublier</title>

    <!-- Meta -->
    <meta name="description" content="Marketplace for Bootstrap Admin Dashboards">
    <meta property="og:title" content="Admin Templates - Dashboard Templates">
    <meta property="og:description" content="Marketplace for Bootstrap Admin Dashboards">
    <meta property="og:type" content="Website">
    <link rel="shortcut icon" href="assets/images/favicon.svg">

    <!-- *************
			************ CSS Files *************
		************* -->
    <link rel="stylesheet" href="assets/fonts/remix/remixicon.css">
    <link rel="stylesheet" href="assets/css/main.min.css">

  </head>

  <body class="login-bg">

    <!-- Container starts -->
    <div class="container">

      <!-- Auth wrapper starts -->
      <div class="auth-wrapper">

        <!-- Form starts -->
        <form action="/forgotPassword" method="POST">

          <div class="auth-box">
            <a href="#" class="auth-logo mb-4">
              <img src="/assets/images/logo_one_love.jpg" alt="Bootstrap Gallery">
              <span class="mt-2" style = "margin-left: 10px;"><strong>One Love</strong></span> 
            </a>

            <h6 class="fw-light mb-4">Pour accéder votre a tableau de bord,veuillez saisir l'email que vous avez fourni lors du processus d'inscription.</h6>

            <div class="mb-3">
              <label class="form-label" for="email">Email <span class="text-danger">*</span></label>
              <input type="email" id="email" class="form-control" name = "email" placeholder="Entrer votre email" required>
            </div>

            <div class="mb-3 d-grid">
              <button type="submit" class="btn btn-primary">
                Soumettre
              </button>
            </div>
          </div>

        </form>
        <!-- Form ends -->

      </div>
      <!-- Auth wrapper ends -->

    </div>
    <!-- Container ends -->

  </body>


<!-- Mirrored from buybootstrap.com/demos/medflex/medflex-admin-dashboard/forgot-password.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 15 May 2025 12:17:08 GMT -->
</html>