<!DOCTYPE html>
<html lang="en">

  
<!-- Mirrored from buybootstrap.com/demos/medflex/medflex-admin-dashboard/page-not-found.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 15 May 2025 12:17:08 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pas non trouver ou système en maintenance</title>

    <!-- Meta -->
    <meta name="description" content="Marketplace for Bootstrap Admin Dashboards">
    <meta property="og:title" content="Admin Templates - Dashboard Templates">
    <meta property="og:description" content="Marketplace for Bootstrap Admin Dashboards">
    <meta property="og:type" content="Website">
    <link rel="shortcut icon" href="assets/images/favicon.svg">

    <!-- *************
			************ CSS Files *************
		************* -->
    <link rel="stylesheet" href="assets/fonts/remix/remixicon.css">
    <link rel="stylesheet" href="assets/css/main.min.css">

  </head>

  <body class="error-bg">

    <!-- Error container starts -->
    <div class="error-container">
      <% if (msg === 'email'){%>
        <h1 class="mb-2">404</h1>
        <h3 class="fw-light mb-4"> 
          Email invalide ou utilisateur non trouvé
        </h3>
      <%}else if (msg === 'serveur'){%>
        <h1 class="mb-2">505</h1>
        <h3 class="fw-light mb-4">
          Erreur de serveur ou systeme en maintenance ou auperations indisponible
        </h3>
      <%} else if (msg === 'envoyer'){%>
        <h1 class="mb-2" style="color: rgb(0, 255, 64);">202</h1>
        <h3 class="fw-light mb-4">
          Email de récupération envoyé ! <br>
          Veillez consulter votre boite de reception.
        </h3>
      <%} else if (msg === 'invalide'){%>
        <h1 class="mb-2">400</h1>
        <h3 class="fw-light mb-4">
          Le lien est invalide ou a expiré.
        </h3>
      <%} else if (msg === 'mdpsuccess'){%>
        <h1 class="mb-2" style="color: rgb(0, 255, 64);">200</h1>
        <h3 class="fw-light mb-4">
          Mot de passe modifié avec succès ! <br>
          Vous pouvez maintenant vous <a href="/login" class="btn btn-primary">connecter</a>
        </h3>
      <%}else{%>
        <h1 class="mb-2">404</h1>
        <h3 class="fw-light mb-4">
          Page non trouvée
        </h3>
      <%}%>
    </div>
    <!-- Error container ends -->

  </body>


<!-- Mirrored from buybootstrap.com/demos/medflex/medflex-admin-dashboard/page-not-found.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 15 May 2025 12:17:08 GMT -->
</html>