<!DOCTYPE html>
<html lang="en">

  
<!-- Mirrored from buybootstrap.com/demos/medflex/medflex-admin-dashboard/page-not-found.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 15 May 2025 12:17:08 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pas non trouver ou système en maintenance</title>

    <!-- Meta -->
    <meta name="description" content="Marketplace for Bootstrap Admin Dashboards">
    <meta property="og:title" content="Admin Templates - Dashboard Templates">
    <meta property="og:description" content="Marketplace for Bootstrap Admin Dashboards">
    <meta property="og:type" content="Website">
    <link rel="shortcut icon" href="assets/images/favicon.svg">

    <!-- *************
			************ CSS Files *************
		************* -->
    <link rel="stylesheet" href="assets/fonts/remix/remixicon.css">
    <link rel="stylesheet" href="assets/css/main.min.css">

  </head>

  <body class="error-bg">

    <!-- Error container starts -->
    <div class="error-container">

      <h1 class="mb-2">401</h1>
      <h5 class="fw-light mb-4" style = "color: rgb(255, 153, 0);">
        Vous devez vous connecter pour accéder à cette page ou effectuée cette action <br>
        Il se peut que votre compte ait été désactivé ou suspendu. <br>
        Veuillez vous <u style = "color: rgb(0, 38, 255);"><a href="/login">reconnecter</a></u> et, si cela persiste, contacter l’administrateur.
      </h5>
    </div>
    <!-- Error container ends -->

  </body>


<!-- Mirrored from buybootstrap.com/demos/medflex/medflex-admin-dashboard/page-not-found.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 15 May 2025 12:17:08 GMT -->
</html>